@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body, html, #root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 5%);
}

.App {
  text-align: center;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1em 2em;
}

.App * {
  margin: 0;
}

.Heading {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.Details {
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  background-color: hsl(0, 0%, 10%);
  padding: 0.8em;
  border-radius: 2em;
  text-wrap: nowrap;
}

.Details * {
  color: hsl(0, 0%, 90%);
  text-decoration: none;
  line-height: 1.2;
}

.Details h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  line-height: 0.8;
}

.Connect {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
  background-color: hsl(0, 0%, 10%);
  padding: 1.8em 2.5em;
  border-radius: 3.5em;
}

.Connect h3 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3em;
  line-height: 0.7;
}

.LinkContainer {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.LinkIcon {
  height: 2em;
  width: auto;
}

.emailPadding {
  height: 1.6em;
}

.Footer {
  font-family: "VT323", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}