@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /*heading*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* footer */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap'); /* body */

html, body, #root {
  background: hsl(0 0% 5%);
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5em;

  color: hsl(0 0% 95%);
  text-align: left;
  text-wrap: pretty;
  font-size: 1rem;
  line-height: 1.5;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#loader span {
  width: 11.5em;
}

#name {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  margin: 1.3rem 0;
}

.cursor-block {
  position: relative;
  top: -2px;
  color: hsl(0 0% 60%);
}

.cursor-hidden .ti-cursor {
  display: none !important;
  opacity: 0 !important;
  animation: none !important;
}

hr {
  height: 0.3em;
  background-color: transparent;
  border: none;
}

a {
  color: hsl(0 0% 95%);
  text-decoration: underline dotted;
  text-decoration-color: hsl(0 0% 50%);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all ease 0.2s;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(0 0% 95%);
  text-decoration-thickness: unset;
  text-underline-offset: unset;
}

mark, mark a {
  font-weight: 600;
  background-color: hsl(0 0% 95%);
  color: hsl(0 0% 5%);
}

b {
  font-weight: 600;
}

small {
  font-size: inherit;
  font-weight: 200;
  color: hsl(0 0% 60%);
}

#contact {
  display: flex;
  flex-direction: row;
  gap: 1.7em;
  padding-top: 0.8em;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  line-height: 0;
}

#contact img {
  height: auto;
  width: 2em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "VT323", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 3em 1em 1em 1em;
  background-image: linear-gradient(to top, hsl(0 0% 5%), hsl(0 0% 5%), hsl(0 0% 5% / 0.6), transparent);
}