@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /*heading*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* footer */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap'); /* body */

html, body, #root {
  background: hsl(0, 0%, 5%);
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-wrap: pretty;
  font-size: 1rem;
  color: hsl(0, 0%, 95%);
  gap: 1.5em;
  justify-content: start;
  align-items: start;
}

#heading {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

.terminal {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

hr {
  height: 0.3em;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}

a:hover {
  text-decoration: underline;
}

mark, mark a {
  font-weight: 600;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 5%);
}

b {
  font-weight: 800;
}

small {
  font-size: inherit;
  font-weight: 100;
  color: hsl(0, 0%, 80%);
}

#contact {
  display: flex;
  flex-direction: row;
  gap: 1.7em;
  padding-top: 0.8em;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.link-icon {
  height: auto;
  width: 2em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "VT323", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 3em 1em 1em 1em;
  background-image: linear-gradient(to top, hsl(0 0% 5%), hsl(0 0% 5%), hsl(0 0% 5% / 0.6), transparent);
}